@charset "UTF-8";
* {
	padding: 0;/* 填充 */
	margin: 0;/* 外边距 */
}

body {
	padding-top: 50px;/* 避免文本被导航栏覆盖 */
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);/* 设置主题渐变色 */
}

a {
	text-decoration: none;/* 去掉链接的下划线 */
	color: black;
}

a:hover{
	text-decoration: none;/* 去掉链接的下划线 */
}

/* main */
/**
 * 定义main类中的right类中的a标签中的第一个div的:hover属性
 * 当两个选择器之间有空格的情况下, 可以选择包括的所有子代, 而 ">"只能选择具有直接承下关系的子代
 */
.main .right>a>div:hover {
	box-shadow: 5px 5px 15px #888888;/* box-shadow: h-shadow(必需的 水平阴影的位置 允许负值) v-shadow(必需的 垂直阴影的位置 允许负值) blur(可选 模糊距离) spread(可选 阴影的大小) color(可选 阴影的颜色 在CSS颜色值寻找颜色值的完整列表) inset(可选 从外层的阴影(开始时)改变阴影内侧阴影); */
	transition: 0.5s;/* 定义过渡效果 */
}

.main {
	width: 1226px;
	height: 750px;
	margin: 0 auto;/* 上下无边距, 左右居中 */
}

.main .left {
	width: 234px;
	height: 614px;
	float: left;/* 将块级元素浮动至最左侧 */
}

.main .left img {
	width: 234px;
	height: 614px;
}

.main .middle {
	width: 234px;
	height: 300px;
	float: left;/* 将块级元素浮动至最左侧 */
}

.main .middle img {
	width: 234px;
	height: 300px;
	margin-bottom: 14px;
}

.main .right {
	width: 992px;
	height: 614px;
	float: left;
	background-color: #f5f5f5;
}

.main .right>a>div {
	width: 234px;
	height: 300px;
	float: left;
	background-color: #ffffff;
	margin-left: 14px;
	margin-bottom: 14px;
}

.main .right>a>div .images {
	width: 160px;
	height: 160px;
	margin: 10px auto;
}

.main .right>a>div .images img {
	width: 160px;
	height: 160px;
}

.main .right>a>div .name {
	margin: 5px auto;
}

.main .right>a>div .name h3 {
	font-weight: normal;/* 设置手机名称字体粗细 */
	font-size: 14px;/* 设置手机名称字体大小 */
	text-align: center;/* 设计手机名称字体对其方式 */
}

.main .right>a>div .explain {
	margin: 0 auto;
}

.main .right>a>div .explain p {
	font-size: 12px;
	color: #C5C5C5;
	text-align: center;
}

.main .right>a>div .price {
	margin: 5px auto;
}

.main .right>a>div .price .newprice {
	display: inline-block;
	margin: 0 0 0 60px;
}

.main .right>a>div .price .newprice p {
	font-size: 14px;
	color: #FF7112;
	font-weight: 700;
}

.main .right>a>div .price .nowprice {
	display: inline-block;
	margin: 0 0 0 90px;
}

.main .right>a>div .price .nowprice p {
	font-size: 14px;
	color: #FF7112;
	font-weight: 700;
}

.main .right>a>div .price .oldprice {
	display: inline-block;
	margin: 0 0 0 5px;
}

.main .right>a>div .price .oldprice p {
	font-size: 14px;
	text-decoration: line-through;
	color: #C5C5C5;
}

/* footer */
.footer {
    height: 300px;
    background-color: #ffffff;
    margin-top: 50px;
}

.footer .center {
    width: 1226px;
    margin: 0 auto;
}

.footer .zuo {
    width: 613px;
    margin-top: 30px;
    float: left;
}

.footer .zuo .ph {
    margin-top: 30px;
}

.footer .zuo .ph p {
    font-size: 12px;
    color: #666666;
}

.footer .zuo .btn {
    margin-top: 30px;
}

.footer .zuo .btn a { 
    display: inline-block;
    width: 121px;
    height: 38px;
    font-size: 16px;
    font-weight: 700;
    color: #00a4ff;
    border: 1px solid #00a4ff;/* 定义边框颜色 */
    line-height: 35px;
    text-align: center;
}

.footer .you {
    width: 613px;
    float: right;
}

.footer .you div {
    float: right;
    width: 200px;
    margin-top: 60px;
}

.footer .you div dl dt {
    font-size: 16px;
    color: #333333;
}

.footer .you div dl dd {
    font-size: 12px;
    color: #333333;
}

.footer .you div dl a dd:hover {
    color: #f09f09;
}